/* Scrollable container styling */
.scrollable-container {
    width: 1100px;
    color: black;
    overflow-x: scroll;
    white-space: nowrap;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 130px;
}

/* Change cursor to grabbing when active */
.scrollable-container:active {
    cursor: grab;
}

/* WebKit scrollbar styling */
.scrollable-container::-webkit-scrollbar {
    border-bottom: 2px solid lightgray;
    height: 2px; 
    
}

.scrollable-container::-webkit-scrollbar-track {
    background: none; 
    pointer-events: none;
}

.scrollable-container::-webkit-scrollbar-thumb {
    background: #182cc0; 
    border-radius: 1px;
}
/* Scrollable content styling */
.scrollable-content {
    display: inline-flex;
    flex-wrap: nowrap;
    padding: 0;
    box-sizing: border-box;
    
}

/* Scrollable box styling */
.scrollable-box {
    display: inline-block;
    width: 100%;
    min-width: 320px;
    margin-right: 20px;
    position: relative;
    box-sizing: border-box;
    cursor: pointer;
    overflow: hidden;
    transition: box-shadow 0.3s ease;
}

/* Large image styling */
.scrollable-box img.large-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    transition: clip-path 0.3s ease;
    clip-path: inset(2% 0 0 0);
}

.scrollable-box:hover img.large-image {
    clip-path: inset(0 0 2% 0);
}

/* Small image styling */
.scrollable-box img.small-image {
    position: absolute;
    background-color: white;
    top: 20px;
    right: 0;
    width: 20%;
    height: auto;
    max-width: 80px;
    border: 2px solid white;
 
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    box-sizing: border-box;
}

/* Text content styling */
.scrollable-box .text-content {
    margin-top: 10px;
    padding: 0 10px;
    box-sizing: border-box;
}

.scrollable-box .text-content .title {
    font-weight: 700; 
    margin: 0 0 5px; 
    font-size: 16px;
    cursor: pointer;
    line-height: 30px;
    color: #141719;
    width: 292px; 
    overflow: hidden; 
    display: -webkit-box; /* Use flex-like box model */
    -webkit-box-orient: vertical; /* Sets the box orientation to vertical */
    -webkit-line-clamp: 4; /* Limits the number of lines to 2 */
    white-space: normal; /* Allows wrapping at normal word breaks */
}

.scrollable-box .text-content .description {
    width: 292px; 
    font-weight: 400;
    font-size: 14px; 
    color: #555f62; 
    line-height: 1.7; 
    box-sizing: border-box;
    margin: 0; 
    margin-bottom: 38px;
    list-style: none; 
    cursor: grab;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    overflow: hidden; 
    display: -webkit-box; 
    -webkit-box-orient: vertical; 
    -webkit-line-clamp: 4; 
    text-overflow: ellipsis; 
    white-space: normal; 
    max-height: calc(1.7em * 4); 
    
}

/* Container-3 specific styles */
.container-3 .scrollable-box img.large-image {
    width: fit-content; /* Adjust based on your layout */
    height: 52px;
    
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .scrollable-container {
        width: 100%;
        padding: 5px;
    }

    .scrollable-box {
        width: 80%;
        max-width: 250px;
        margin-right: 10px;
    }

    .scrollable-box img.small-image {
        width: 15%;
    }

    .scrollable-box .text-content .title {
        font-size: 1em;
    }

    .scrollable-box .text-content .description {
        font-size: 0.9em;
    }
}
